@import "include-media/dist/_include-media.scss";

$backupFonts: "-apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif";

$fontCondensed: "korolev-condensed", #{$backupFonts};
$fontRegular: "sweet-sans-pro", #{$backupFonts};
$fontBody: "circe", #{$backupFonts};
$fontWeightHeavy: 700;
$fontWeightBold: 500;
$fontWeightRegular: 500;
$fontWeightLight: 300;
$vSpace: 10px;

$breakpoints: (
  xsmall: 320px,
  small: 375px,
  medium: 600px,
  large: 1024px,
  xlarge: 1600px,
);
