@import '../../styles/vars.scss';

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding-top: calc(var(--v-space) * 1);
  padding-bottom: calc(var(--v-space) * 0.2);
  padding-left: calc(var(--v-space) * 0.5);
  padding-right: calc(var(--v-space) * 0.5);
  & > * {
    align-self: baseline;
  }
  & .logo {
    width: 50%;
    max-width: 180px;
    svg {
      margin-bottom: -12.2%;
      margin-top: -4.75%;
    }
  }
  & > * {
    text-transform: uppercase;
    display: inline-block;
    font-family: #{$fontRegular};
    font-weight: #{$fontWeightHeavy};
    letter-spacing: 0.1em;
    &:any-link {
      text-decoration: none;
    }
  }
  // Add underline hover effect for all links except home logo
  & > *:not(:first-child) {
    &:any-link:hover {
      text-decoration: underline;
    }
  }
}

@media print {
  .menu {
    display: none !important;
  }
}
