@import "../styles/vars.scss";

:root {
  --color-bg: hsl(240, 15%, 97%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-text: hsl(0, 0%, 5%);
  --color-text-reverse: var(--color-white);
  --color-text-lighter: hsl(40, 80%, 20%);
  --color-accent: hsl(240, 31%, 42%);
  --color-accent-darker: hsl(240, 27%, 15%);
  --color-accent-lighter: hsl(240, 80%, 92%);
  --color-accent-lightest: hsl(240, 80%, 96%);
  --color-link: hsl(22, 63%, 51%);
  --color-fill: hsl(40, 60%, 80%);
  --header-height: 0;
  --footer-height: 30px;
  --font-base-line-height: 1.6em;
  --font-body-size: 14px;
  --v-space: calc(var(--font-body-size) * 1.5);
  --max-page-width: 100%;
}

@media (width >= 600px) {
  :root {
    --font-body-size: 16px;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  text-wrap: pretty;
}

body {
  color: var(--color-text);
  background: var(--color-bg);
  font-family: #{$fontBody};
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: var(--font-body-size);
  line-height: var(--font-base-line-height);
  -webkit-font-smoothing: antialiased;
  background: var(--color-bg);
  color: var(--color-text);
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
div {
  box-sizing: border-box;
}

a,
a:any-link {
  color: var(--color-link, inherit);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


@page {
  margin: 0.75in 0.75in 1in 0.75in;
}
@page :first {
  margin-top: 0.5in;
}