---
import Logo from "@/components/Logo.astro";
import styles from "@/styles/MainMenu.module.css";
---
<nav class={styles.menu}>
  <a class={styles.logo} href="/"><Logo /></a>
  <a href="/resume">Resumé</a>
</nav>
