@import "../../styles/vars.scss";

.resumePage {
  --max-width: 800px;
}

.resume {
  --resume-h-padding: calc(var(--v-space) * 1);
  --resume-t-padding: 60px;
  --resume-b-padding: 60px;

  --h1-size: calc(var(--font-body-size) * 1);
  --h2-size: calc(var(--font-body-size) * 2);
  --h3-size: calc(var(--font-body-size) * 1.5);
  --h4-size: calc(var(--font-body-size) * 1.1);
  --small-size: calc(var(--font-body-size) * 0.8);

  --indent: calc(var(--v-space) * 1.5);

  @media (width >= 375px) {
    --h2-size: calc(var(--font-body-size) * 2.5);
    --h3-size: calc(var(--font-body-size) * 1.7);
  }

  @media (width >= 600px) {
    --h2-size: calc(var(--font-body-size) * 3);
    --h3-size: calc(var(--font-body-size) * 1.8);
  }

  @media (width >= 375px) {
    --resume-h-padding: calc(var(--v-space) * 2);
  }

  @media (width >= 600px) {
    --resume-h-padding: calc(var(--v-space) * 4);
  }

  @media print {
    --font-body-size: 13px;
    --h1-size: calc(var(--font-body-size) * 1);
    --h2-size: calc(var(--font-body-size) * 1.5);
    --h3-size: calc(var(--font-body-size) * 1.25);
    --h4-size: 1em;
    --resume-h-padding: 0;
    --resume-t-padding: 0;
    --resume-b-padding: 0;
    --resume-t-padding: 0;
    font-size: var(--font-body-size);
    line-height: 1.4em;
  }

  background-color: white;

  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--resume-h-padding);
  padding-right: var(--resume-h-padding);
  padding-top: var(--resume-t-padding);
  padding-bottom: var(--resume-b-padding);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
    }
  }

  section > ul > li {
    margin-top: calc(var(--v-space) * 3);
  }
  section > ul > li:first-child {
    margin-top: calc(var(--v-space) * 1);
  }

  header {
    text-align: right;
    text-align: end;
    margin-bottom: calc(var(--v-space) * 2);
    font-family: #{$fontRegular};
    font-weight: 300;
    h1 {
      font-size: var(--h1-size);
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  section {
    margin-bottom: calc(var(--v-space) * 4);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: #{$fontRegular};
    font-weight: 300;
    line-height: 1.1em;
    margin: 0;
  }

  h2 {
    font-size: var(--h2-size);
    color: var(--color-accent);
    text-transform: uppercase;
    font-weight: $fontWeightLight;
    letter-spacing: 0.05em;
    margin-bottom: 0.5em;
    margin-left: -0.12em;
    &:not(:first-of-type) {
      margin-top: calc(var(--v-space) * 4);
    }
  }
  h3 {
    font-size: var(--h3-size);
    font-family: $fontCondensed;
    font-weight: $fontWeightHeavy;
    margin: 0;
  }

  h4 {
    font-family: $fontCondensed;
    font-size: var(--h4-size);
    font-weight: 700;
  }

  .stint {
    break-inside: avoid;
    page-break-inside: avoid;
  }
  .stint:not(:is(h1, h2, h3, h4, h5, h6) + .stint) {
    margin-top: calc(var(--v-space) * 3);
  }
  .stint.noChildren + .stint {
    margin-top: var(--v-space);
  }
  .topLine {
    font-family: #{$fontRegular};
    font-weight: 400;
    font-size: 16px;
  }
  @media (width >= 600px) {
    .stint:not(:is(h1, h2, h3, h4, h5, h6) + .stint) {
      margin-top: calc(var(--v-space) * 4);
    }
    .stint.noChildren + .stint {
      margin-top: var(--v-space);
    }
    .topLine {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  .bulletList {
    margin-top: var(--v-space);
    & > li {
      position: relative;
      margin: 0;
      padding: 0;
      padding-left: calc(var(--indent) * 0.5);
      &:not(:last-child) {
        margin-bottom: 1em;
      }
      &::before {
        position: absolute;
        top: 0.4em;
        bottom: 0.1em;
        left: 0;
        border-left: 1px solid var(--color-accent-lighter);
        display: block;
        content: "";
        pointer-events: none;
      }
    }
  }

  ul.compactList {
    & > li {
      --line-height: 1.7em;
      --color-link: var(--color-accent-darker);
      // color: var(--color-accent);
      display: inline-flex;
      gap: 0.2em;
      margin-right: 0.2em;
      font-family: $fontCondensed;
      font-weight: 300;
      font-size: var(--small-size);
      height: var(--line-height);
      line-height: var(--line-height);
      padding-right: 1em;
      padding-left: 1em;
      border-radius: 100px;
      background-color: var(--color-accent-lightest);
    }
  }

  .skillsSection {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.5em 1em;
    align-items: baseline;

    h4 {
      display: inline;
      margin: 0;
      grid-column: 1;
      white-space: nowrap;
      &:after {
        content: ": ";
      }
    }
  }

  .organization,
  .location {
    font-family: #{$fontRegular};
    font-weight: 400;
    font-size: 16px;
    display: inline;
  }
  .location {
    display: inline;
    &:before {
      content: " – ";
    }
    color: var(--color-text-lighter);
    font-size: 0.85em;
  }

  .bullets {
    text-decoration: none;
  }
  .dates {
    text-decoration: none;
    white-space: nowrap;
    @media (width >= 600px) {
      padding-left: 1em;
    }
  }
  .block {
    text-decoration: none;
  }
  .education {
    text-decoration: none;
  }
  .school {
    text-decoration: none;
  }
  .location {
    text-decoration: none;
  }

  .printLogo {
    display: none;
  }

  @media print {
    header {
      margin-bottom: 2.5em;
    }
    .printLogo {
      display: block;
      width: 1.25in;
      position: absolute;
      top: 0;
      left: 0;
    }
    .stint:not(:is(h1, h2, h3, h4, h5, h6) + .stint) {
      margin-top: 2.5em;
    }
    .bulletList {
      margin-top: 1em;
    }
    .organization {
      font-size: 1.1em;
    }
    .location {
      font-size: 0.9em;
    }
    h2 {
      &:not(:first-of-type) {
        margin-top: 4em;
      }
    }
    ul ul {
      display: none;
    }
    .skillsSection {
      row-gap: 0.1em;
    }
    ul.compactList {
      & > li {
        font-family: #{$fontBody};
        font-weight: 300;
        line-height: 1.2em;
        font-size: 1em;
        margin-bottom: 0.1em;
        border: 0.05em solid var(--color-accent-lighter);
        background: none;
        margin: 0;
        padding: 0;
        display: inline;
        border: none;
        &:not(:last-child)::after {
          content: ", ";
        }
      }
    }
    a:any-link {
      text-decoration: none;
    }
  }
}
